html,
body,
main {
  height: 100dvh;
}

body {
  background-color: #131313;
  font-family: "Noto Sans", Arial, sans-serif, sans-serif;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

main {
  display: grid;
  place-items: center;
}

.game-container {
  background-color: #181818;
  border-radius: 20px;
  padding: 50px 150px 0px;
  box-shadow: inset 0px 0px 40px #0000008a;

  position: relative;
}

#word {
  color: rgb(255, 236, 129);
  font-size: 3.4rem;
  font-weight: 600;
  margin-block-end: 100px;
}

.input-container {
  display: flex;
  border-radius: 1rem;
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);

  padding: 0.3rem;
  gap: 0.3rem;
  margin-block-end: 30px;
}

.input-container input {
  font-size: 1.1rem;
  border-radius: 0.8rem;
  background: #23272f;
  box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b,
    0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102, 0, 0);
  width: 100%;
  flex-basis: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: #506aff;
  transition: all 0.2s ease-in-out;
}

.input-container input:focus {
  border: 1px solid #ffd43b;
  outline: none;
  box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5),
    inset 0px 0px 10px rgba(255, 212, 59, 0.5),
    0px 0px 10px rgba(255, 212, 59, 0.5), 0px 0px 10px rgba(255, 102, 0, 0.5);
}

@media (max-width: 500px) {
  .input-container {
    flex-direction: column;
  }

  .input-container input {
    border-radius: 0.8rem;
  }
}

/* #input {
  font-size: 1.12rem;
  padding: 10px 3px;
} */

.btn-check {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.btn-check:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 20px #008cff,
    0 0 20px #008cff;
}

/* .btn-check {
  font: inherit;
  padding: 13px 14px;
} */

#message {
  font-size: 5rem;
  text-align: center;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.game-container::after,
.game-container::before {
  --angle: 100deg;
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    #fff397,
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #fff397
  );

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 320px 300px;
  border-radius: 12px;
  animation: 3s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.game-container::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
